{% extends 'base.html.twig' %}

{% block title %}Hello NewEscapeGameController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
{{ form_start(form)}}
        <label class="w3-text"><b> {{ form_label(form.nom) }}</b></label>

                {{ form_widget(form.nom)}}
                {{ form_errors(form.nom) }}
                {{ form_help(form.nom) }}<br>
<label class="w3-text"><b> {{ form_label(form.description) }}</b></label>
                {{ form_widget(form.description)}}
                {{ form_errors(form.description) }}
                {{ form_help(form.description) }}<br>
<label class="w3-text"><b> {{ form_label(form.jeux) }}</b></label>
                {{ form_widget(form.jeux)}}
                {{ form_errors(form.jeux) }}
                {{ form_help(form.jeux) }}<br>
<label class="w3-text"><b> {{ form_label(form.prix) }}</b></label>
                {{ form_widget(form.prix)}}
                {{ form_errors(form.prix) }}
                {{ form_help(form.prix) }}<br>
<label class="w3-text"><b> {{ form_label(form.dureeEnMinute) }}</b></label>
                {{ form_widget(form.dureeEnMinute)}}
                {{ form_errors(form.dureeEnMinute) }}
                {{ form_help(form.dureeEnMinute) }}<br>
<label class="w3-text"><b> {{ form_label(form.photo) }}</b></label>
                {{ form_widget(form.photo)}}
                {{ form_errors(form.photo) }}
                {{ form_help(form.photo) }}<br>

                {{ form_row(form.submit) }}

                {{ form_end(form) }}

</div>

{% endblock %}
